body {
    background-color: skyblue;
}

.siteheader {
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar a {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border: solid 2px;
    border-radius: 10px;
    border-color: black;
    background-color: aliceblue;
}

.arubrik {
    text-align: center;
    letter-spacing: 1px;
}

.bild {
    margin-left: 35%;
    margin-right: 35%;
}

p {
    text-align: center;
}

.abouttext {
    margin-left: 30%;
    margin-right: 30%;
}

.brubrik {
    text-align: center;
    letter-spacing: 1px;
}

.reporttext {
    margin-left: 22%;
    margin-right: 22%;
}

.sitefooter {
    text-align: center;
    font-size: xx-small;
    margin-top: 8%;
}
