{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}

<h1 class="arubrik">Kursen mvc (v2)</h1>
<p class="abouttext">Kursen som här kallas mvc heter egentligen Objektorienterade webbteknologier och fokuserar på sådana programmeringstekniker i programmeringsspråket PHP.</p>
<p class="abouttext">Under kursens gång kommer man att få lära sig att förstå, förklara samt argumentera kring objektorienterad programmering i ett webbaserat ramverk.</p>
</div>

<p><a href="https://github.com/dbwebb-se/mvc">Kursens Git-repo</a></p>


{% endblock %}
