{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="arubrik">Isabella</h1>
<img class="bild" src="img/haj.jpg" width="400px" height="auto" alt="haj">
<p></p>

<p><a href="{{ absolute_url("img/haj.jpg")  }}">Klicka här för att endast se hajbilden!</a></p>
</div>

{% endblock %}
