{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}

<h1 class="arubrik">Report</h1>

<h2 class="brubrik">Kmom01</h2>
<p class="reporttext">Inga större kunskaper inom objektorienterng utöver det som vi till exempel fick lära oss i den objektorienterade Python-klassen.</p>

<p class="reporttext">Klasser används för att skapa objekt och ska enligt kodstandard sparas i filer som börjar med stor bokstav. Attributen i en klass kan vara antingen publika eller privata. Ett public attribut kan man nå och göra ändringar i medan ett privat attribut måste hämtas eller ändras via Getter och Setter.</p>

<p class="reporttext">Jag tycker att upplägget än så länge påminner om det vi tidigare gjort. Jag läste i chatten på discord att tanken var att man skulle kombinera eller knyta samman det som man lärt sig i databas-, design- och webtec-kursen och det är väl därifrån jag liksom känner igen en del delar samt strukturen.</p>

<p class="reporttext">I PHP The Right Way så tyckte jag framöverallt om avsnittet om errors och exception och jag gillar även funktionen i Symfony där man kan skriva bin/console debug:router och få se de eventuella problem som finns. Jag tycker att det varit relativt enkelt att förstå samt lösa de problem som dök upp på vägens gång. I artikeln stod det även att debug eller dev mode i Symfony "display a nice and clean stack trace" och det håller jag med om och som sagt så tycker jag att det var väldigt användbart.</p>

<h2 class="brubrik">Kmom02</h2>
<p class="reporttext"></p>

<h2 class="brubrik">Kmom03</h2>
<p class="reporttext"></p>

<h2 class="brubrik">Kmom04</h2>
<p class="reporttext"></p>

<h2 class="brubrik">Kmom05</h2>
<p class="reporttext"></p>

<h2 class="brubrik">Kmom06</h2>
<p class="reporttext"></p>

<h2 class="brubrik">Kmom07/10</h2>
<p class="reporttext"></p>
</div>

{% endblock %}
